.has-menu-stack {
    display: flex!important;
    align-items: center;
}

.meta-data-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-width: 720px;
    cursor: default;
}

@media (max-width: 768px) {
    .meta-data-title {
        max-width: 200px;
    }
}

